### SBT ###
# Simple Build Tool
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log

# virtual machine crash logs
hs_err_pid*

# misc
.idea
.metals
